.masthead.clearfix
  .inner            
    %p.masthead-brand
      = t :your_wallet_is_closed_for_now
    %h3.cover-heading
      = t :thank_you_for_choosing
      = t :site_title

  
/ .row
/   .col-xs-12
/     %h4
/       =t :thank_you_for_choosing_booker
/     %h4
/       =t :see_you_next_time  